<!DOCTYPE html>
<html>
    <head>
        <title>Pen Tool</title>
        <meta charset="UTF-8"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <style>
            #content
            {
                border: 1px solid #a9f5a9;
                background: #ffffff;
                margin-left: 0px;
                margin-right: auto;
                width: 900px;
                height: 500px;
                overflow: auto;  
            }
    
            #content p
            {
                padding: 1em;
                margin: 1em;
            }

            /* html, body, form, main 
            {
               height: 100%;
            } */
        </style>
    </head>
    <body>
        <div>
            <h2>
                Pen Tool
            </h2>
            <input type="text" class="username">
            <button value="username" class = "send_username" type="submit">username</button>
            
            <h1 id="userfield">

            </h1>

            <div id="content">

            </div>

            <input type="text" class="message">
            <button type="submit" class="send_message">write</button>
        </div>

        <!-- <div id="clear">
            <button id="clearHistory">Clear</button>
        </div> -->

        <script type="text/javascript">

            $(function()
            {
                var socket = io();

                socket.on("connected", function(data)
                {
                    data.chat.forEach(element => {
                        textfield.append("<p>" + element.name + ": " + element.text + "</p>");
                    });
                });

                var username = $(".username");
                var send_username = $(".send_username");
                var userfield = $("#userfield");
                var textfield = $("#content");
                var message = $(".message");
                var send_message = $(".send_message");
                var clear = $("#clearHistory");

                socket.on("userConnected", function(data)
                {
                    textfield.append("<p> Подключился новый пользователь: " + data.name + "</p>");
                    textfield.animate({ scrollTop: 100000 }, 50);
                });

                socket.on("changedName", function(data)
                {
                    textfield.append("<b> Пользователь " + data.oldName + " меняет имя на: " + data.newName + "</b>" + "<br/>");
                    textfield.animate({ scrollTop: 100000 }, 50);
                });

                socket.on("sended_text", function(data)
                {
                    textfield.append("<p>" + data.name + ": " + data.text + "</p>");
                    message.val('');
                    textfield.animate({ scrollTop: 100000 }, 50);
                });

                //send message when Button pressed
                send_message.click(function(data)
                {
                   //textfield.append("<p>" + textfield.val() + "</p>");
                   //textfield.append("<br/>"); 
                   socket.emit("send_text", {text : message.val()});
                });
             
                send_username.click(function()
                {
                    userfield.text("Вы: " + username.val());
                    socket.emit("change_username", {username : username.val()})
                });

                //send message when key pressed
                message.on('keypress', function(key)
                {
                    if (key.which == 13) 
                    {
                        socket.emit("send_text", {text : message.val()});
                        message.val('');
                        textfield.animate({ scrollTop: 100000 }, 50);
                    }
                });
            }
            
            )
        </script/>
    </body>
</html>